@import "base/variables";
@import "base/reset";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;700&display=swap");


//@media screens
@media (max-width: 768px) {
  .meet_partner_person {
    margin-bottom: 5px;
  }
  .meet_partner_wrapper {
    margin: 0 15px;
  }
  .person_wrap_margin_bottom {
    margin-bottom: 15px;
  }
}

html,
body {
  height: 100%;
}

//hidden scroll
::-webkit-scrollbar {
    width: 0;
  }

//wrapper
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;

  .container {
    max-width: $Width;
    margin: 0 auto;
    padding: 0 15px;
  }

  //header
  .header {
    background: url("../images/title_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 660px) {
      background-position: top;
    }

    .content_top {
      display: flex;
      justify-content: space-between;
      padding-bottom: 170px;
      padding-top: 40px;
      @media (max-width: 660px) {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 30px;
        padding-top: 40px;
        align-items: center;
      }

      .content_top_small_title {
        color: white;
        font-size: 20px;
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
        @media (max-width: 660px) {
          margin-top: 107px;
        }
      }

      .content_top_left {
        padding-right: 41px;
        .log_in,
        .sign_up {
          font-family: "Montserrat", sans-serif;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: #ffffff;
          text-decoration: none;
        }

        .sign_up {
          border: 2px solid white;
          border-radius: 15px;
          padding: 10px 17px;
          border-radius: 40px;
        }
      }
    }
    .content_bottom {
      display: flex;
      justify-content: center;
      h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 52px;
        font-weight: bold;
        color: white;
        line-height: 64px;
        text-align: center;
        margin-bottom: 28.5px;
        @media (max-width: 660px) {
          font-size: 30px;
          line-height: 37px;
          margin-bottom: 5.5px;
        }
      }

      .content_bottom_under_title {
        color: #f7f3f2;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 54px;
        @media (max-width: 660px) {
          font-weight: 300;
          font-size: 20px;
          line-height: 24px;
          padding: 0 20px;
          margin-bottom: 15px;
        }
      }
      .content_bottom_botton {
        display: flex;
        justify-content: center;
        max-width: 50%;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        color: #fff;
        background-color: #ff4e50;
        padding: 14px;
        border-radius: 40px;
        margin: 0 auto 180px;
        @media (max-width: 660px) {
          font-size: 14px;
          line-height: 17px;
          max-width: 95%;
        }
      }
    }
  }

//section how_dreamshare_works_title
  .how_dreamshare_works_title {
    color: #444444;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    margin-top: 97px;
    margin-bottom: 35px;
    @media (max-width: 660px) {
      margin-top: 34px;
      font-size: 22px;
      line-height: 27px;
    }
  }

//section section how_dreamshare_works
  .how_dreamshare_works_steps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media (max-width: 660px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .how_dreamshare_works_step_one {
        background-image: url("../images/Step_1_image.jpg");
        background-repeat: no-repeat;
        background-position: center;
        max-width: 32%;
        height: 400px;
        color: white;
        display: flex;
        align-items: flex-end;
        border-radius: 4px;
        padding: 20px 15px 15px 20px;
        @media (max-width: 660px) {
          background-size: cover;
          max-width: 100%;
          height: 240px;
        }
      }
    
      .steps_text {
        margin-bottom: 18px;
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 2px;
        background-color: #ff4e50;
        max-width: 35%;
        border-radius: 40px;
        text-align: center;
        padding: 5px;
        opacity: 80%;
      }
    
      h4 {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 10px;
      }
    
      .steps_bottom_text {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
      }
    
      .how_dreamshare_works_step_two {
        background: url("../images/Step_2_image.jpg");
        background-repeat: no-repeat;
        background-position: center;
        width: 32%;
        height: 400px;
        margin-right: 20px;
        margin-left: 20px;
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        border-radius: 4px;
        padding: 20px 15px 15px 20px;
        @media (max-width: 660px) {
          background-size: cover;
          width: 100%;
          height: 240px;
          margin: 10px 0;
        }
      }
    
      .how_dreamshare_works_step_three {
        background: url("../images/Step_3_image.jpg");
        background-repeat: no-repeat;
        background-position: center;
        width: 32%;
        height: 400px;
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        border-radius: 4px;
        padding: 20px 15px 15px 20px;
        @media (max-width: 660px) {
          background-size: cover;
          width: 100%;
          height: 240px;
        }
      }
  }

//section meet_partner
  .meet_partner {
    .meet_partner_content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .meet_partner_wrapper {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        text-align: center;
        border: 1px solid white;
        max-width: 221px;
        height: 228px;
      }
      .meet_partner_person_photo {
        width: 120px;
        height: 120px;
      }

      .name_person {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #444444;
        margin-top: 22px;
        margin-bottom: 28px;
      }

      .under_name_person {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #666666;
      }
    }

    .meet_partner_botton {
      display: flex;
      justify-content: center;

      .meet_partner_botton_btn {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        align-items: flex-end;
        color: #ff4e50;
        padding: 12px 25px;
        border-radius: 40px;
        border: 2px solid #ff4e50;
        background-color: #fff;
        margin-top: 36px;
      }
    }
  }

//section discover_activity_ideas
  .discover_activity_ideas {
    display: flex;
    justify-content: center;

    .ideas_content_title {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 26px;
      line-height: 32px;
      text-align: center;
      color: #444444;
      margin: 90px 0 35px 0;
      @media (max-width: $Width) {
        margin-top: 35px;
      }
    }

    .content_row_one,
    .content_row_two,
    .content_row_three {
      display: flex;
      flex-direction: row;
      @media (max-width: 660px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .cub_photo {
      width: 32%;
      height: 310px;
      margin: 10px;
      border-radius: 4px;
      @media (max-width: 660px) {
        width: 100%;
        height: 120px;
        margin-bottom: 3px;
        border-radius: 4px;
      }
    }

    .oblong_photo {
      width: 64%;
      height: 310px;
      margin: 10px;
      border-radius: 4px;
      @media (max-width: 660px) {
        width: 100%;
        height: 120px;
        margin-bottom: 3px;
        border-radius: 4px;
      }
    }

    .sport {
      background-image: url("../images/SportActivis.jpg");
      background-repeat: no-repeat;
    }

    .healath {
      background-image: url("../images/Healath.jpg");
      background-repeat: no-repeat;
    }

    .extreme {
      background-image: url("../images/Extreme.jpg");
      background-repeat: no-repeat;
    }

    .games {
      background-image: url("../images/Games.jpg");
      background-repeat: no-repeat;
    }

    .culture {
      background-image: url("../images/Culture.jpg");
      background-repeat: no-repeat;
    }
    .spa {
      background-image: url("../images/Spa.jpg");
      background-repeat: no-repeat;
    }
    .tevelling {
      background-image: url("../images/Treveling.jpg");
      background-repeat: no-repeat;
    }

    .sport,
    .healath,
    .games,
    .culture {
      @media (max-width: 660px) {
        background-position: center;
        background-size: cover;
      }
    }

    .extreme,
    .spa,
    .tevelling {
      @media (max-width: 660px) {
        background-position: top;
        background-size: cover;
      }
    }

    .over_font_style {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

//section crate_your_activity
  .crate_your_activity {
    display: flex;
    // justify-content: center;
    flex-direction: column;

    .activity_content_title {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 26px;
      line-height: 32px;
      text-align: center;
      color: #444444;
      margin-top: 90px;
      margin-bottom: 35px;
      @media (max-width: 660px) {
        margin-top: 35px;
      }
    }

    .under_activity_content_title {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 18px;
      line-height: 14px;
      text-align: center;
      color: #666666;
      margin-bottom: 25px;
    }

    .activity_content_enter_data {
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-bottom: 100px;
      @media (max-width: 660px) {
        display: flex;
        flex-direction: column;
        margin-bottom: 51px;
        align-items: center;
      }

      .enter_data_interests {
        background: #ffffff;
        border: 1px solid #d4d4d4;
        box-shadow: 0px 1px 2px rgba(235, 235, 235, 0.541);
        border-radius: 3px;
        //placeholder style
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #999999;
        height: 40px;
        width: 300px;
        padding: 14px 0 10px 15px;
        margin-right: 10px;
        @media (max-width: 660px) {
          margin-right: 0px;
        }
      }

      .enter_data_btn_search_partners {
        background: #ff4e50;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
        height: 40px;
        width: 172px;

        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        border: none;
        padding: 12px 0;
        @media (max-width: 660px) {
          margin-top: 10px;
          width: 300px;
        }
      }
    }
  }

//footer
  .footer {
    border-top: 2px solid #ff4e50;
    margin-bottom: 36px;

    .footer_content {
      display: flex;
      flex-direction: row;
      margin-top: 38px;
      @media (max-width: 660px) {
        display: flex;
        flex-direction: column;
        margin-top: 19px;
        align-items: center;
      }

      .footer_content_one_col {
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #ff4e50;
        margin-right: 13%;
        @media (max-width: 660px) {
          margin-bottom: 13px;
          margin-right: 0;
        }
      }

      .footer_content_two_col {
        margin-right: 18%;
        @media (max-width: 660px) {
          margin-right: 0;
          display: flex;
          flex-direction: column;
        }

        .company_title {
          font-family: "Montserrat", sans-serif;
          font-weight: bold;
          font-size: 14px;
          line-height: 17px;
          color: #444444;
          margin-bottom: 11px;
          @media (max-width: 660px) {
            display: flex;
            justify-content: center;
            margin-bottom: 2px;
            margin-top: 5px;
          }
        }

        .company_sub_title {
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 14px;
          line-height: 26px;
          color: #999999;
          @media (max-width: 660px) {
            margin-left: 5%;
            justify-content: center;
          }
        }

        .sub_title_wrap {
          @media (max-width: 660px) {
            flex-direction: row;
            justify-content: center;
          }
        }

        .sub_title_group {
          display: flex;
          flex-direction: column;
          @media (max-width: 660px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .footer_content_three_col {
        margin-right: 20.5%;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #444444;
        @media (max-width: 660px) {
          margin-right: 0;
          margin-top: 4px;
        }
      }

      .footer_content_four_col {
        @media (max-width: 660px) {
          margin-top: 14px;
        }
        .four_col_group_svg {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          .group_svg_designed_by {
            margin-bottom: 7px;
          }
        }
      }
    }
  }
}
